.student {
    margin: 1rem;
    padding: 1rem;
    background-color: #230052;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    text-align: left;
    color: white;
}

.student h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 2rem;
    color: #fff;
}

.student h2 {
    margin-top: 0px;
    font-size: 1rem;
    color: #f7e702;
}

.student h3 {
    color: #eccf77;
    margin: 0;
    font-size: 1rem;
}

.desc {
    text-decoration: underline;
    font-weight: bold;
    margin-right: 5px;
}